.header,
.header-title,
.header-users-count-wrapper,
.header-messages-count-wrapper,
.header-last-message-date-wrapper {
  padding: 5px;
}
.header {
  display: flex;
  background-color: seagreen;
  font-weight: 600;
  color: mintcream;
}
.header-last-message-date-wrapper {
  margin-left: auto;
}
