.message {
  border: 1px solid forestgreen;
  padding: 10px;
  margin: 5px 0;
  border-radius: 20px;
  display: grid;
  grid-template:
    'avatar name time'
    'avatar text text'
    'avatar like like' / 60px 1fr 1fr;
  width: 70%;
  background-color: azure;
}

.message-user-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  grid-area: avatar;
}

.message-user-name {
  grid-area: name;
}
.message-like,
.message-liked {
  grid-area: like;
}
