.message-input {
  display: grid;
  grid-template-columns: 60% 1fr;
  padding: 15px;
}
.message-input-text {
  padding: 5px;
  width: 70%;
  height: 50px;
  align-self: center;
  justify-self: end;
  margin-right: 20px;
}
.message-input-button {
  display: initial;
  align-self: center;
  justify-self: start;
  height: 30px;
}
