.own-message {
  border: 1px solid forestgreen;
  padding: 10px;
  margin: 5px 0;
  border-radius: 20px;
  display: grid;
  grid-template:
    'time time'
    'text text'
    'delete edit' / 90% 1fr;
  width: 70%;
  justify-self: end;
  background-color: azure;
}
.message-edit {
  grid-area: edit;
  align-self: center;
  justify-self: end;
}
.message-delete {
  grid-area: delete;
  align-self: center;
  justify-self: end;
}
